%html
  %head
    %title For Fun and Profit
    %script{:type => 'text/javascript', :src => '/js/jquery/jquery.min.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/_widget.css'}
  %body
    %a#indexbtn(href = "/") Home
    .pairwidgets
      %iframe.singlecard{:src => "/widget/#{params[:a]}?min="}
      %iframe.singlecard{:src => "/widget/#{params[:b]}?min="}
