%html
  %head
    %title SciCard
    %script{:type => 'text/javascript', :src => '/js/jquery/jquery.min.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/_widget.css'}
  %body
    %h1 Available experiments
    %table
      %tr
        %th Name
        %th Occam Link
        %th Compare
      -@objects.each do |r|
        %tr
          %td.name
            %a(href = "/widget/#{r.id}") #{r.friendly_name or "Unnamed"}
          %td
            %a(href = "https://#{settings.OCCAM_ADDR}/worksets/#{r.workset_uuid}/#{r.workset_revision}/experiments/#{r.experiment_uuid}/#{r.experiment_revision}") Origin
          %td
            %form{:action => "/compare", :method => "get"}
              %input{:name => "a", :value => "#{r.id}", :type => "hidden"}
              %select{:name => "b"}
                -@objects.each do |m|
                  -if m.id != r.id
                    %option{:value => "#{m.id}"} #{m.friendly_name}
                %input.submit{:type => "submit", :value => "Compare"}/
