%html
  %head
    %title SciCard
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/_widget.css'}
  %body
    -if @warnmesg
      %a#warning #{@warnmesg}
    .form
      %form{:action => "/name/#{@id}", :method => "post"}
        %label{:for => "Reuse"} Reuse Name:
        - if params[:backside]
          %input{:name=> "backside", :value=> "", :type => "hidden"}
        %select{:name => "Reuse"}
          - @current_widgets.each do |widget|
            -if widget.friendly_name
              %option #{widget.friendly_name}
          %input.submit{:type => "submit", :value => "Overwrite"}/
      %form{:action => "/name/#{@id}", :method => "post"}
        %label{:for => "Name"} New:
        - if params[:backside]
          %input{:name=> "backside", :value=> "", :type => "hidden"}
        %input{:name => "Name", :type => "text", :value => ""}/
        %input.submit{:type => "submit", :value => "Save"}/
