%html
  %head
    %title SciCard
    %script{:type => 'text/javascript', :src => '/js/jquery/jquery.min.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/_widget.css'}
  %body
    %h1 Available experiments
    %table
      %tr
        %th Occam objects:
      -@output.each do |r|
        %tr
          %td= r.objectid
