%html
  %head
    %title SciCard
    %script{:type => 'text/javascript', :src => '/js/jquery/jquery.min.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/_widget.css'}
  %body
    .widgits>
      #widget_result_container
        #widget_result_elem
          - if @output and @output.take
            %iframe.plotframe{:src => "https://#{settings.OCCAM_ADDR}/objects/#{@output.take.objectid}/view?view=minimal&embed"}
          - else
            %p No output from experiment.
