- @data_post_target = "/worksets/#{@object.workset_uuid}/#{@object.workset_revision}/objects/#{@object.experiment_uuid}/#{@object.experiment_revision}";
- @data_fetch_target = "/worksets/#{@object.workset_uuid}/#{@object.workset_revision}/experiments/#{@object.experiment_uuid}/#{@object.experiment_revision}";

%html
  %head
    %title SciCard
    %script{:type => 'text/javascript', :src => '/js/jquery/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/widget.js'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/_widget.css'}
  %body{data_post_target: "#{@data_post_target}", data_fetch_target: "#{@data_fetch_target}", plot_count: "#{@plotcount}", widget_count: "#{@widgetcount}", obj_pre: "#{@obj_pre}", exp_id: "#{@object.experiment_uuid}", OCCAM_ADDR: "#{settings.OCCAM_ADDR}", is_min: "#{params.has_key?(:min)}", start_back: "#{params.has_key?(:backside)}"}
    .widgits>
      // overall flip containner
      .fullframe
        - if not params[:min]
          .deck
            %button#prevWidget> Prev Widget
            %button#indexbtn> Home
            %button#nextWidget> Next Widget
          .options
            %button#renamebtn> Rename
            %button#delbtn> Delete
            %button#advancedbtn> Advanced
        .flipcontainner1#div1{ :style => params[:min] ? "position: absolute; top: 0px; left: 0px;" : nil}
          .flipper1
            // front face of the card 1
            #widget_container
              #elem
                %table.widget
                  %tr.widget
                    %th.widget1{:colspan => 2}= @object.friendly_name
                  %tr.widget
                    %th.widget1 Executable
                    %th.widget1 Data
                  %tr.widget
                    %td.widget#prog1 Drag Here
                    %td.widget#input1 Drag Here
                  %tr.widget
                    %td.widget#prog2 Drag Here
                    %td.widget#input2 Drag Here
                  %tr.widget
                    %td.widget#prog3 Drag Here
                    %td.widget#input3 Drag Here
                  %tr.widget
                    %td.widget#prog4 Drag Here
                    %td.widget#input4 Drag Here
                  %tr.widget
                    %td.widget_go{:colspan=> 2}
                      #widget_go_div
                        %button.widget_go#RunMe> Run!
                        %button.widget_results#flipresults> Results
            //backside of card 1
            #backside1
              #backcard
        .flipcontainner2#div2{ :style => params[:min] ? "position: absolute; top: 0px; left: 0px;" : nil}
          .flipper2
            //frontside of the card 2
            #frontside2
              #backcard
                #backinfo> Results
                %iframe{:id =>'iframe1'}
                %button.inputs#inputsB1> Inputs
                %button.nextR#nextR1> Next Graph
            //backside of the card 2
            #backside2
              #backcard
                #backinfo> Results
                %iframe{:id =>'iframe2'}
                %button.inputs#inputsB2> Inputs
                %button.nextR#nextR2> Next Graph
        //overlay of spinning loader and shadow effacts
        #overlay
          .spinwheel{:id =>'loader'}
          #shadow
