body {
  overflow-x: hidden;
  overflow-y: hidden;
}

table.widget {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#275459;
  border:#ccc 1px solid;
  table-layout: fixed;
  overflow: hidden;
  width: 500px;
  height: 40em;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}

table.widget th.widget1 {
  padding:18px;
  overflow: hidden;
  text-align: center;
  font-size: 20px;
  height: 70px;
  color: white;
  text-shadow: none;

  background: #44929b;
  background: -webkit-gradient(linear, left top, left bottom, from(#44929b), to(#44929b));
  background: -moz-linear-gradient(top,  #44929b,  #44929b);
}

table.widget tr.widget {
  text-align: center;
  width: 12em;
  border:none;
  height: 75px;
  overflow: hidden;
}

table.widget td.widget {
  font-size: 16px;
  border-top: 2px solid #275459;
  border-bottom:2px solid #275459;
  border-left: 2px solid #275459;
  border-radius: 5%;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}

table.widget tr.widget:last-child td {
  border-bottom:0;
}

td.widget_go {
  margin-left: auto;
  margin-right: auto;
}

#RunMe {
  margin-left: 47px;
  font-size: 18px;
  font-family: arial black;
  font-weight: bold;
  letter-spacing: 2px;
}

#flipresults{
  letter-spacing: 1px;
  margin-left: 20px;
  font-size: 18px;
  font-family: arial black;
  font-weight: bold;
}

%defaultButton {
  display: inline-block;
  padding: 8px 50px 9px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  border-bottom: 1px solid rgba(0,0,0,0.25);
  cursor: pointer
}

button.widget_go, button.widget_go:visited {
  @extend %defaultButton;
  background: green;
  padding: 10px 65px 11px;
  border: none;
  margin-left: 10px;
}

button.widget_results, button.widget_results:visited {
  @extend %defaultButton;
  background: #752a91;
  padding: 10px 55px 11px;
  border: none;
}

#indexbtn, #indexbtn, button.inputs, button.inputs:visited {
  @extend %defaultButton;
  background: green;
}

#renamebtn, #renamebtn:visited, button.nextR, button.nextR:visited,
    #prevWidget, #prevWidget:visited, #nextWidget, #nextWidget:visited {
  @extend %defaultButton;
  background: purple;
}

#advancedbtn, #advancedbtn:visited, #linkbutton, #linkbutton:visited {
  @extend %defaultButton;
  background: orange;
}

#delbtn, #delbtn:visited {
  @extend %defaultButton;
  background: darkred;
}

.submit {
  @extend %defaultButton;
  background: green;
  padding: 5px;
}

#widget_go_div {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

iframe.plotframe{
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  border: none;
}

%sevenhundred_noverflow {
  height: 700px;
  width: 700px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.widgits {
  @extend %sevenhundred_noverflow;
}

.fullframe {
  width: 700px;
  height: 900px;
}

.flipcontainner1 {
  z-index: 10;
}

.flipcontainner1, .flipcontainner2 {
  @extend %sevenhundred_noverflow;
  position: absolute;
  perspective: 700px;
}

.flipcontainner1.flip .flipper1, .flipcontainner2.flip .flipper2{
  transform: translateX( 100%) rotateY(180deg);
}

.flipper1, .flipper2{
  transition: 0.8s;
  transform-style: preserve-3d;
  transform-origin: left center;
}

.options{
  position: absolute;
  top: 585px;
  display: block;
  z-index: 20;
}

.form {
  background: #44929b;
  width: 400px;
  height: 100px;
  padding: 5px;
}

select {
  background: #275459;
  color: white;
}

label {
  color: white;
}

.singlecard {
  width: 500px;
  height: 540px;
}

.pairwidgets {
  display: flex;
}

#backside1, #backside2, #frontside2, #widget_container {
  backface-visibility: hidden;
  position:absolute;
  top:0;
  left: 0;
}


#widget_container, #frontside2 {
  @extend %sevenhundred_noverflow;
  z-index: 2;
  transform: rotateY(0deg);
}

%unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;     
  user-select: none;
}

#widget_result_elem {
  @extend %unselectable;
  height: 500px;
  width: 500px;
  position: absolute;
}

#widget_elem {
  @extend %unselectable;
  height: 480px;
  width: 500px;
  position: absolute;
}

#overlay {
  margin-top: 2px;
  margin-left: 2px;
  transition:0.3s ease;
  position:absolute;
  width: 500px;
  height: 40em;
  display: none;
  z-index: 11;
}

#shadow {
  top:0;
  position:absolute;
  height: 34em;
  width: 500px;
  background: #ededed;
  opacity: 0.8;
}

#backside1, #backside2 {
  @extend %sevenhundred_noverflow;
  transform: rotateY(180deg);
}

#backcard {
  position: absolute;;
  height: 543px;
  width: 500px;
  background: #275459;
  border-radius: 1%;
}

#backinfo {
  position: absolute;
  border-radius: 4%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  color: white;
  letter-spacing: 2px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 2.0;
  background: #44929b;
  height: 47px;
  width: 100%;
}

#iframe1, #iframe2 {
  left:2px;
  position: absolute;
  top:45px;
  height: 385px;
  width: 490px;
  overflow-x: hidden;
  overflow-y: hidden;
  border: none;
}

.inputs {
  position: absolute;
  margin-left: 60px;
  top:435px;
  width: 180px;
  border:none;
  font-size: 18px;
  font-family: arial black;
  font-weight: bold;
  padding: 8px 7px 9px;
}

#nextR1, #nextR2 {
  border:none;
  position: absolute;
  width: 180px;
  margin-left: 275px;
  top:435px;
  font-size: 18px;
  font-family: arial black;
  font-weight: bold;
  padding: 8px 3px 9px;
}

/*css spinner from "https://projects.lukehaas.me/css-loaders/" */
#loader {
  top:30%;
  color: #35a3a3;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.2s infinite linear;
  animation: load4 1.2s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
